parameters:
	fileExtensions:
	    - php
	    - module
	    - install
	paths:
		- ./
	excludePaths:
		- vendor
	level: 9
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
	  - '#Call to an undefined method Drupal\\Core\\StringTranslation\\TranslationInterface\|PHPUnit\\Framework\\MockObject\\MockObject::translate\(\)#'
	  - '#Cannot call method rebuildContainer\(\) on object\|null#'
